body {
  background-repeat:no-repeat;
    background-image:linear-gradient(to bottom right, cyan, magenta)
}

#bio {
  padding: 20px;
  font-size: 18px;
    background-color:pink
}

h1 {
  text-shadow: 2px 2px #F8BBD0;
  font-family: 'Style Script', cursive;
}

#intro {
    text-align: center;
    background-image: linear-gradient(to bottom right, #E1BEE7, #90CAF9);
}

img {
    border-radius:50%;
}